#!/bin/sh -x
exec docker run -d -e MESOS_ZK='zk://{% for node in groups['nodes'] %}{{ hostvars[node]['ansible_eth1']['ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos' --name marathon --net host --privileged --restart always marathon
