#!/bin/sh -x
exec docker run -d -e MESOS_ZK='zk://{% for node in groups['nodes'] %}{{ hostvars[node]['ansible_eth1']['ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos' -e MESOS_QUORUM=2 --name m3sos-master --net host --restart always mesos-master
